a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.active {
  color: black;
  border-bottom: 1px solid crimson;
}

.active:visited {
  color: crimson;
  text-decoration: none;
}
