.user_card {
  height: 15rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  border: crimson solid 4px;
  border-radius: 10px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  transition: transform 0.8s;
  justify-content: space-around;
}

.user_card:hover {
  transition: 0.3s ease-in-out;
  border: white solid 4px;
  transform: scale(1.1);
  box-shadow: 0 0 30px black;
}

.user_card_info {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.username {
  font-size: 2rem;
}

.location {
  font-size: 1rem;
}

.user_list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  margin: 3em 0;
  @media (max-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3vw;
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

figure {
  margin: 0;
}

.image {
  flex: 1;
  border-radius: 8px;
  align-items: baseline;
  width: 8rem;
  height: 8rem;
}

.text {
  width: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgba(23, 19, 17, 1);
  font-size: 1.25em;
  padding: 0.5rem;
}

.home_title {
  color: crimson;
}

a {
  color: none;
}
