#root {
  min-height: 100vh;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

html {
  min-height: 100vh;
  //background-image: url(https://t3.ftcdn.net/jpg/02/25/28/46/360_F_225284629_k5uIlI1cWOCLR8DgjxDf7CpZQyNayZWZ.jpg);
  // background-image: url(https://st2.depositphotos.com/1026550/5261/i/450/depositphotos_52612215-stock-photo-old-grunge-urban-background.jpg);
  background-image: url('https://cdn.discordapp.com/attachments/1106527856395305030/1127612531201024151/wp8906571.png');
  background-position: center;
  background-size: cover;
  background-color: black;
  font-family: 'Bebas Neue', sans-serif;
}

.loaded-route {
  flex-direction: column;
  display: flex;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  font-weight: 900;
}

button {
  border: 2px solid white;
  color: grey;
  background: rgb(255, 255, 255);
  width: 5rem;
  height: 2rem;
  border-radius: 0.8rem;
}

body {
  margin: 0;
  min-height: 100vh;
}
