.user_details_card {
  font-size: 1.3rem;
  color: white;
  padding: 1rem;
  margin-top: 1.3em;
  height: fit-content;
  background-color: rgba(79, 78, 78, 0.634);
  border: 1px solid grey;
  width: 20rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user_details_image {
  margin-top: 0.5rem;
  object-fit: cover;
  border-radius: 1.5rem;
  border: 2px solid white;
  width: 10rem;
  height: 10rem;
}

.car_card_info {
  text-align: right;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  span {
    margin: 0.5rem;
  }
}

.user_properties {
  margin: 1.5rem;
}

.message_container {
  background-color: rgba(79, 78, 78, 0.634);
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-top: 1rem;
  border: 2px solid white;
  color: white;
}

.car_card {
  font-size: 1.3rem;
  color: white;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: rgba(79, 78, 78, 0.634);
  width: 20rem;
  height: fit-content;
  border: 1px solid grey;
  border-radius: 1rem;

  figure {
    display: flex;
    border: 2px solid white;
    border-radius: 1rem;
    width: 10rem;
    height: 10rem;
  }
}
.car_image {
  border-radius: 1rem;
  width: 10rem;
}
