.car_card_image {
  border-right: 2px solid red;
  margin: 0;
}

.car_card_info {
  width: 10rem;
  background-color: grey;
  border-top: 2px solid red;
  margin: 0;

  span {
    margin-left: 0.5rem;
  }
}
