.car_card_garage {
  background-color: rgba(0, 0, 0, 0.7);
  width: 80vw;
  margin-top: 1.5rem;
}

.car_card_image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13em;
  width: auto;
  margin: 0;

  img {
    object-fit: cover;
    width: auto;
    height: auto;
  }
}

.car_card_info_garage {
  padding: 1em;
  color: white;
  display: flex;
  flex-direction: column;

  span {
    margin-left: 0.5rem;
  }
}

.car_card_actions {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.action {
  opacity: 0;
  color: black;
  margin: 0.15em;
  font-size: 3rem;
  width: 1.2em;
  height: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.action a {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  color: black;
}

.action:hover,
.action a:hover {
  color: crimson;
}

.car_card_image:hover {
  transition: all 0.2s ease-in-out;
  .action {
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
}
