.garage {
  font-size: x-large;
  flex-direction: column;
  display: flex;
  min-height: 85vh;
  align-items: center;
  justify-content: flex-start;
  font-weight: 900;
}

.home_title {
  margin-top: 1rem;
}

.car-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title_form {
    color: blueviolet;
    margin-bottom: 0.5rem;
  }

  input {
    height: 2rem;
    border-radius: 1rem;
    margin: 0.5rem;
  }
}

.garage_title {
  margin: 1rem;
  color: white;
}

.hidden {
  display: none;
}
